    <!--====== OUE CHOOSE PART START ======-->
    <div class="our-choose-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title mt-30">
                        <span>{{ site.data.our-choose-area.tagline }}</span>
                        <h2 class="title">{{ site.data.our-choose-area.title }}</h2>
                    </div> <!-- section title -->
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a class="" href="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fal fa-long-arrow-right"></i>Cloud-First Solutions
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>A key indicator of the success of our projects is their ability to meet the current and future scale needs of the client.
                                        We use the latest AWS and Azure infrastructure and take advantage of auto-scale features so that your applications are
                                        always ready to meet the scale of your business.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="fal fa-long-arrow-right"></i>Stay Up, Stay Running & Protected
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>'Move Fast and Break Things' is only a beautiful mantra when your customers and brand are not on the line. We design and
                                        build our applications with scalability and security in mind so that your team can rest easy knowing that your app is safe
                                        and secure for your customers.

                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <i class="fal fa-long-arrow-right"></i>Our Experienced Experts
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>
                                        We've sought out Silicon Valleys top engineers so that you don't have to. Our engineers come from the ranks of Google, Intel,
                                        Oracle, and Microsoft. We've put their industry experience together so that you can leverage their strengths and fill your
                                        weaknesses.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <a class="collapsed" href="" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <i class="fal fa-long-arrow-right"></i>Maintainable Engineering Systems
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="card-body">
                                    <p>Not only do we pride ourselves on being the premier engineering team for Cloud-First applications in terms of performance. We also 
                                        write scalable and maintainable code with plenty of extension points. We love working with our clients consistently throughout the
                                        lifecycle of a project, but our solutions are so flexible that non-engineering teams within your organization will be able to add
                                        customizations in order to optimize business value.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                    </div> <!-- accordion -->
                </div>
                <div class="col-lg-6">
                    <div class="our-choose-counter-area mt-30">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration=".5s" data-wow-delay="0s">
                                    <sub><span class="counter">20</span> <sup>+</sup></sub>
                                    <span>Projects Completed</span>
                                    <p>Our novelty is is no match for our experience. We've managed the complex and conquered the ambiguous.</p>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="1s" data-wow-delay="0s">
                                    <sub><span class="counter">25</span> <sup>+</sup></sub>
                                    <span>Years of Experience</span>
                                    <p>We've seen a lot in ur 25+ years at top Silicon Valley tech giants and can help you make the most of that knowledge</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="our-choose-counter wow slideInUp" data-wow-duration="1.5s" data-wow-delay="0s">
                                    <sub><span class="counter">9</span> <sup>+</sup></sub>
                                    <span>Happy Clients</span>
                                    <p>Our clients span the globe and we've brought their ideas to life at world scale</p>
                                </div>
                                <div class="our-choose-counter wow slideInUp mt-55" data-wow-duration="2s" data-wow-delay="0s">
                                    <sub><span class="counter">3</span> <sup>+</sup></sub>
                                    <span>Consultants</span>
                                    <p>Our team is customer obsessed and eager to help you go from whiteboard to industry disruptor.</p>
                                </div>
                            </div> <!-- our choose counter -->
                        </div> <!-- row -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== OUE CHOOSE PART ENDS ======-->
